In [ ]:
import requests
import json
from pprint import pprint
import pandas as pd
import csv

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
request = requests.get("https://covid.ourworldindata.org/data/owid-covid-data.json")

In [ ]:
data = request.json()
#pprint(list(data.keys()))

**Covid w USA**

  Pierwszy przypadek w USA:

In [ ]:
pprint(data['USA']['data'][0]['date']) #pierwszy przypadek w USA to 22 styczen 2020

'2020-01-22'

In [ ]:
pprint(data['USA']['data'][67]) #ostatni oznacza ilość dni od pierwszego przypadku w danym kraju

{'date': '2020-03-29',
 'excess_mortality': 10.0,
 'excess_mortality_cumulative': -0.78,
 'excess_mortality_cumulative_absolute': -6125.8,
 'excess_mortality_cumulative_per_million': -18.40048853,
 'new_cases': 16127.0,
 'new_cases_per_million': 48.442,
 'new_cases_smoothed': 15514.286,
 'new_cases_smoothed_per_million': 46.601,
 'new_deaths': 555.0,
 'new_deaths_per_million': 1.667,
 'new_deaths_smoothed': 424.286,
 'new_deaths_smoothed_per_million': 1.274,
 'new_tests': 110260.0,
 'new_tests_per_thousand': 0.331,
 'new_tests_smoothed': 113761.0,
 'new_tests_smoothed_per_thousand': 0.342,
 'positive_rate': 0.184,
 'reproduction_rate': 2.1,
 'stringency_index': 72.69,
 'tests_per_case': 5.4,
 'tests_units': 'tests performed',
 'total_cases': 143544.0,
 'total_cases_per_million': 431.173,
 'total_deaths': 3573.0,
 'total_deaths_per_million': 10.732,
 'total_tests': 1267951.0,
 'total_tests_per_thousand': 3.809}

Ilość przypadków w poszczególnych miesiącach

In [ ]:
USA_data = data['USA']['data']
# ilość nowych przypadków 

cases_by_month = {}

for element in data['USA']['data']:
  year = element['date'][0:4]
  month = element['date'][5:7]
  if year not in cases_by_month:
    cases_by_month[year]  = {}
  if month not in cases_by_month[year]:
    cases_by_month[year][month]  = 0
  if 'new_cases' in element:
    cases_by_month[year][month] += element['new_cases']

#print(cases_by_month)
df_usa_by_month = pd.DataFrame.from_dict(cases_by_month)
df_usa_by_month

         2020       2021        2022
01        7.0  6146652.0  20264494.0
02       17.0  2409451.0   3955586.0
03   192054.0  1815377.0   1055585.0
04   884439.0  1888953.0   1252208.0
05   711721.0   924302.0   2864670.0
06   856853.0   400352.0   1272748.0
07  1898596.0  1324020.0         NaN
08  1499188.0  4282816.0         NaN
09  1197153.0  4143296.0         NaN
10  1917436.0  2509303.0         NaN
11  4470545.0  2548190.0         NaN
12  6563305.0  6251658.0         NaN

In [ ]:
df_usa_by_month.to_excel("USA_by_month.xlsx")

Wszystkie przypadki miesiąc po miesiącu

In [ ]:
total_cases_by_month = {}

for element in data['USA']['data']:
  year = element['date'][0:4]
  month = element['date'][5:7]
  if year not in total_cases_by_month:
    total_cases_by_month[year]  = {}
  if month not in total_cases_by_month[year]:
    total_cases_by_month[year][month]  = 0
  if 'total_cases' in element:
    total_cases_by_month[year][month] = element['total_cases']

df_total_cases_by_month = pd.DataFrame.from_dict(total_cases_by_month)
df_total_cases_by_month

          2020        2021        2022
01         8.0  26337967.0  75100179.0
02        25.0  28747418.0  79055765.0
03    192079.0  30562795.0  80111350.0
04   1076518.0  32451748.0  81363558.0
05   1788239.0  33376050.0  84228228.0
06   2645092.0  33776402.0  85500976.0
07   4543688.0  35100422.0         NaN
08   6042876.0  39383238.0         NaN
09   7240029.0  43526534.0         NaN
10   9157465.0  46035837.0         NaN
11  13628010.0  48584027.0         NaN
12  20191315.0  54835685.0         NaN

In [ ]:
df_total_cases_by_month.to_excel("USA_total_by_month.xlsx")

**Covid w Polsce**

Ilość przypadków w poszczególnych miesiącach

In [ ]:
POL_data = data['POL']['data']
# ilość nowych przypadków 

cases_by_month_pol = {}

for element in data['POL']['data']:
  year = element['date'][0:4]
  month = element['date'][5:7]
  if year not in cases_by_month_pol:
    cases_by_month_pol[year]  = {}
  if month not in cases_by_month_pol[year]:
    cases_by_month_pol[year][month]  = 0
  if 'new_cases' in element:
    cases_by_month_pol[year][month] += element['new_cases']

#print(cases_by_month)
df_pol_by_month = pd.DataFrame.from_dict(cases_by_month_pol)
df_pol_by_month

In [ ]:
df_pol_by_month.to_excel("POL_by_month.xlsx")

Wszystkie przypadki miesiąc po miesiącu

In [ ]:
total_cases_by_month_pol = {}

for element in data['POL']['data']:
  year = element['date'][0:4]
  month = element['date'][5:7]
  if year not in total_cases_by_month_pol:
    total_cases_by_month_pol[year]  = {}
  if month not in total_cases_by_month_pol[year]:
    total_cases_by_month_pol[year][month]  = 0
  if 'total_cases' in element:
    total_cases_by_month_pol[year][month] = element['total_cases']

df_total_cases_by_month_pol = pd.DataFrame.from_dict(total_cases_by_month_pol)
df_total_cases_by_month_pol

In [ ]:
df_total_cases_by_month_pol.to_excel("POL_total_by_month.xlsx")

**Dane dotyczące ilości lotów pobrane z agencji lotnictwa cywilnego USA**

In [ ]:
data_csv = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/usa_flights_data.csv", delimiter = ';')
data_csv

           Date       2022       2021     2020       2019
0     5/27/2022  2,384,721  1,959,593  327,133  2,570,613
1     5/26/2022  2,379,860  1,854,534  321,776  2,485,770
2     5/25/2022  2,147,736  1,618,169   261,17  2,269,035
3     5/24/2022  2,020,742  1,470,840  264,843  2,453,649
4     5/23/2022  2,329,044  1,747,353  340,769  2,512,237
..          ...        ...        ...      ...        ...
359  06.02.2021        NaN  1,587,910  304,436  2,370,152
360  06.01.2021        NaN  1,682,752  267,742  2,247,421
361   5/31/2021        NaN  1,900,170  353,261  2,499,002
362   5/30/2021        NaN  1,650,454  352,947  2,555,578
363   5/29/2021        NaN  1,605,810  268,867  2,117,180

[364 rows x 5 columns]

Zsumowane ilości lotów w 2019, 2020 i 2021 (brak 22 bo niepełny)

In [ ]:
amount_of_flights = {
    "amount_2019" : 0,
    "amount_2020" : 0,
    "amount_2021" : 0
}
for a in data_csv["2019"]:
  amount_of_flights['amount_2019'] += int(a.replace(',',''))
for a in data_csv["2020"]:
  amount_of_flights['amount_2020'] += int(a.replace(',',''))
for a in data_csv["2021"]:
  amount_of_flights['amount_2021'] += int(a.replace(',',''))  

print(amount_of_flights)

{'amount_2019': 840481858, 'amount_2020': 300188675, 'amount_2021': 577050903}

Zsumowane ilości lotów w poszczególnych miesiącach 2019,20,21,22

In [ ]:
from collections import OrderedDict

total_cases_by_month_year = {
  "2019" : {},
  "2020" : {},
  "2021" : {},
  "2022" : {},
}

for year in data_csv:
  if year is "Date":
     continue
  for i in range(len(data_csv[str(year)])):
    date = ""
    if "/" in data_csv["Date"][i]:
      date = data_csv["Date"][i].split("/")
    else:
      date = data_csv["Date"][i].split(".")
    date[0] = "{:02d}".format(int(date[0]))
    if date[0] not in total_cases_by_month_year["2019"]:
      total_cases_by_month_year["2019"][date[0]] = 0
    if date[0] not in total_cases_by_month_year["2020"]:
      total_cases_by_month_year["2020"][date[0]] = 0
    if date[0] not in total_cases_by_month_year["2021"]:
      total_cases_by_month_year["2021"][date[0]] = 0
    if date[0] not in total_cases_by_month_year["2022"]:
      total_cases_by_month_year["2022"][date[0]] = 0

    if data_csv["2022"][i]:
      try:
        total_cases_by_month_year["2022"][date[0]] += int(str(data_csv["2022"][i]).replace(",", ""))
      except:
        pass
    if data_csv["2021"][i]:
      total_cases_by_month_year["2021"][date[0]] += int(str(data_csv["2021"][i]).replace(",", ""))
    if data_csv["2020"][i]:
      total_cases_by_month_year["2020"][date[0]] += int(str(data_csv["2020"][i]).replace(",", ""))
    if data_csv["2019"][i]:
      total_cases_by_month_year["2019"][date[0]] += int(str(data_csv["2019"][i]).replace(",", ""))
    

#print(json.dumps(total_cases_by_month_year, indent=4, sort_keys=True))
total_cases_by_month_year = json.loads(json.dumps(total_cases_by_month_year, indent=4, sort_keys=True))
total_cases_by_month_year1 = pd.DataFrame.from_dict(total_cases_by_month_year)
total_cases_by_month_year1

         2019       2020       2021       2022
01  296787465  308366395  114585290  230000230
02  287627175  302318875  116390445  242640065
03  363419160  154453555  192813035  318215270
04  350378860   14863760  207997275  317181570
05  362419740   32118570  242742235  293359430
06  383343935   65730815  283564360          0
07  396660230   88203365  315940085          0
08  372228965   98337660  287420615          0
09  334705975   96434900  255448575          0
10  360541665  117916015  285812020          0
11  343042660  106682770  288220805          0
12  351253460  115516695  294319775          0

**Cena w dolarach za galon paliwa lotniczego**

In [ ]:
jetfuel = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/jet fuel price.xlsx")
jetfuel_data = {}

for i in range(len(jetfuel["Month"])):
  #month = jetfuel["Month"][i].split()[0]
  #year = jetfuel["Month"][i].split()[1]
  date = jetfuel["Month"][i]
  price = jetfuel["Price"][i]
  change = jetfuel["Change"][i]
  if date not in jetfuel_data:
    jetfuel_data[date] = { "Price" : 0,
                          "Change": 0}

  jetfuel_data[date]["Price"] = price
  jetfuel_data[date]["Change"] = change

#print(json.dumps(jetfuel_data, indent=4))
jetfuel_pd = pd.DataFrame.from_dict(jetfuel_data)
jetfuel_pd

,May 2017,Jun 2017,Jul 2017,Aug 2017,Sep 2017,Oct 2017,Nov 2017,Dec 2017,Jan 2018,Feb 2018,...,Jul 2021,Aug 2021,Sep 2021,Oct 2021,Nov 2021,Dec 2021,Jan 2022,Feb 2022,Mar 2022,Apr 2022
Price,1.41,1.3000,1.4200,1.5600,1.8000,1.6600,1.7600,1.8200,1.9500,1.8500,...,1.8900,1.8200,2.0000,2.3000,2.1900,2.1000,2.4500,2.6800,3.5000,3.9100
Change,-,-0.0829,0.0942,0.1016,0.1531,-0.0783,0.0609,0.0324,0.0743,-0.0528,...,0.0162,-0.0371,0.1024,0.1463,-0.0449,-0.0447,0.1675,0.0965,0.3031,0.1199

**Dane pochodzą z Polskiego Urzędu Lotnictwa Cywilnego**

**Ilość lotów krajowych i międzynarodowych z poszczególnych lotnisk w Polsce**

In [ ]:
porty = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/wg_portow_lotniczych_miedzynarodowo_i_krajowo.xlsx")
porty

porty_data = {
}

for i in range(len(porty["Nazwa Portu"])-2):
  nazwa = porty["Nazwa Portu"][i]
  if "Liczba" not in nazwa and  "Suma" not in nazwa:
    nazwa = nazwa.split(" ",1)[1]
    pasazerowie2019 = porty[2019][i+1]
    pasazerowie2020 = porty[2020][i+1]
    pasazerowie2021 = porty[2021][i+1]
    if nazwa not in porty_data:
      porty_data[nazwa] = {}
    
    porty_data[nazwa]["2019"] = pasazerowie2019
    porty_data[nazwa]["2020"] = pasazerowie2020
    porty_data[nazwa]["2021"] = pasazerowie2021

#print(json.dumps(porty_data, indent=4))
porty_pd = pd.DataFrame.from_dict(porty_data)
porty_pd

,Lotnisko Chopina w Warszawie,Kraków - Balice,Katowice - Pyrzowice,Wrocław - Strachowice,Poznań - Ławica,Łódź,Gdańsk im. Lecha Wałęsy,Szczecin - Goleniów,Bydgoszcz,Rzeszów - Jasionka,Zielona Góra - Babimost,Warszawa/Modlin,Lublin,Radom - Sadków,Olsztyn-Mazury
2019,18844591.0,8402859.0,4843650.0,3543398.0,2372184.0,241707.0,5361134.0,580479.0,413472.0,769252.0,33078.0,3104277.0,356011.0,0.0,147446.0
2020,5473224.0,2588970.0,1437876.0,1003066.0,652833.0,75275.0,1697406.0,185848.0,124545.0,234355.0,19266.0,870831.0,123512.0,0.0,61114.0
2021,7445468.0,3065957.0,2311586.0,1409067.0,1045751.0,69296.0,2140522.0,181849.0,95118.0,253210.0,20596.0,1455315.0,107423.0,0.0,47039.0

**Ilość lotów krajowych z poszczególnych lotnisk w Polsce**

In [ ]:
porty = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/wg_portow_lotniczych_krajowo.xlsx")
porty

porty_data = {
}

for i in range(len(porty["Nazwa Portu"])-2):
  nazwa = porty["Nazwa Portu"][i]
  if "Liczba" not in nazwa and  "Suma" not in nazwa:
    nazwa = nazwa.split(" ",1)[1]
    pasazerowie2019 = porty[2019][i+1]
    pasazerowie2020 = porty[2020][i+1]
    pasazerowie2021 = porty[2021][i+1]
    if nazwa not in porty_data:
      porty_data[nazwa] = {}
    
    porty_data[nazwa]["2019"] = pasazerowie2019
    porty_data[nazwa]["2020"] = pasazerowie2020
    porty_data[nazwa]["2021"] = pasazerowie2021

#print(json.dumps(porty_data, indent=4))
porty_pd = pd.DataFrame.from_dict(porty_data)
porty_pd

,Lotnisko Chopina w Warszawie,Kraków - Balice,Katowice - Pyrzowice,Wrocław - Strachowice,Poznań - Ławica,Łódź,Gdańsk im. Lecha Wałęsy,Szczecin - Goleniów,Bydgoszcz,Rzeszów - Jasionka,Zielona Góra - Babimost,Warszawa/Modlin,Lublin,- Sadków,Olsztyn-Mazury
2019,1758286.0,525602.0,150982.0,348254.0,201299.0,13.0,428957.0,216823.0,6653.0,217010.0,27848.0,185.0,36989.0,0.0,6630.0
2020,612438.0,172772.0,41906.0,116229.0,61812.0,13.0,154945.0,73118.0,8261.0,81492.0,19266.0,188.0,10594.0,0.0,5692.0
2021,607745.0,223477.0,40370.0,141291.0,51758.0,162.0,189375.0,89304.0,9949.0,90213.0,14673.0,2.0,10716.0,0.0,19402.0

**Suma oraz kierunki lotów do poszczególnych państw**

In [ ]:
kierunki = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/wg_kierunkow_panstw_2019.xlsx")
kierunki

kierunki_data = {}

for i in range(len(kierunki["Kraj"])):
  kraj = kierunki["Kraj"][i]
  ilosc2019 = kierunki[2019][i]
  ilosc2018 = kierunki[2018][i]
  if kraj not in kierunki_data:
    kierunki_data[kraj] = {}
  
  kierunki_data[kraj]["2019"] = ilosc2019
  kierunki_data[kraj]["2018"] = ilosc2018

#print(kierunki_data)
#kierunki_pd = pd.DataFrame.from_dict(kierunki_data)

kierunki2020 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/wg_kierunkow_panstw.xlsx")
#kierunki2020

for i in range(len(kierunki2020["Kraj"])):
  kraj = kierunki2020["Kraj"][i]
  ilosc2020 = kierunki2020[2020][i]
  ilosc2021 = kierunki2020[2021][i]
  if kraj not in kierunki_data:
    kierunki_data[kraj] = {}
  
  kierunki_data[kraj]["2020"] = ilosc2020
  kierunki_data[kraj]["2021"] = ilosc2021

kierunki_pd = pd.DataFrame.from_dict(kierunki_data)
kierunki_pd

,Wielka Brytania,Niemcy,Włochy,Norwegia,Ukraina,Hiszpania,Holandia,Francja,Szwecja,Irlandia,...,Czechy,Katar,Pozostałe kraje,SUMA,Bułgaria,Cypr,Chorwacja,Gruzja,Malta,Egipt
2019,8286718,4760667,2640264,2380133,2032507,1811747,1749594,1492337,1456929,1024919,...,280299.0,275749.0,4196420,39925914,NaN,NaN,NaN,NaN,NaN,NaN
2018,7972581,4560536,2432384,2178229,1289313,1939354,1500809,1404858,1545701,971759,...,266528.0,222401.0,3536964,36465687,NaN,NaN,NaN,NaN,NaN,NaN
2020,2979965,1252759,779850,721914,652718,501276,672423,414440,377702,410919,...,NaN,NaN,1207887,12022185,130510.0,86059.0,86468.0,47028.0,80516.0,41024.0
2021,2117634,1369234,1200889,781718,1069136,1056269,755277,620523,531366,496255,...,NaN,NaN,1436523,15218782,252283.0,215126.0,203060.0,153940.0,144035.0,131794.0